.gardenForm {
    border: 1px solid rgba(57, 47, 65, 0.065);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 250px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 #06030629, 0 6px 20px 0 #0603062b;
  }

.gardenButton {
    text-align: left;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 12px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: inherit;
    background-color: #9c27b0;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .gardenButton:hover {
    background-color: #630074;
  }
  
  .gardenButton:disabled {
    background-color: #828282;
    color: #3a3a3a;
  }
  
  .gardenButton:focus,
  button.plantCard-button:focus-visible {
    outline: 2px;
    color: #ffffff;
  }

  .gardenErrorMsg {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }